# Add absolute image paths separated by commas.
JARVIS_PET_IDLE_IMAGE=C:\Users\User\Downloads\PersonalAI\Images\Sawako Idle V1.png, C:\Users\User\Downloads\PersonalAI\Images\Kazehaya Idle V2.png, C:\Users\User\Downloads\PersonalAI\Images\Sawako Idle V3.png
JARVIS_PET_DRAGGING_IMAGE=C:\Users\User\Downloads\PersonalAI\Images\Sawako Dragged V1.png, C:\Users\User\Downloads\PersonalAI\Images\Sawako Dragged V2.png, C:\Users\User\Downloads\PersonalAI\Images\Kazehaya Dragged V3.png
JARVIS_PET_LISTENING_IMAGE=C:\Users\User\Downloads\PersonalAI\Images\Sawako Listening V1.png, C:\Users\User\Downloads\PersonalAI\Images\Sawako Listening V2.png, C:\Users\User\Downloads\PersonalAI\Images\Sawako Listening V3.png
JARVIS_PET_THINKING_IMAGE=C:\Users\User\Downloads\PersonalAI\Images\Sawako Thinking V1.png, C:\Users\User\Downloads\PersonalAI\Images\Kazehaya Thinking V2.png, C:\Users\User\Downloads\PersonalAI\Images\Sawako Thinking V3.png
JARVIS_PET_APPROVAL_IMAGE=C:\Users\User\Downloads\PersonalAI\Images\Sawako Approval V1.png, C:\Users\User\Downloads\PersonalAI\Images\Ayane Approval V2.png, C:\Users\User\Downloads\PersonalAI\Images\Sawako Approval V3.png
JARVIS_PET_DENIED_IMAGE=C:\Users\User\Downloads\PersonalAI\Images\ChizuruRyu Denied V1.png, C:\Users\User\Downloads\PersonalAI\Images\RyuChizuru Denied V2.png, C:\Users\User\Downloads\PersonalAI\Images\Ume Denied V3.png
JARVIS_PET_APPROVED_IMAGE=C:\Users\User\Downloads\PersonalAI\Images\SawakoKazehaya Approved V1.png, C:\Users\User\Downloads\PersonalAI\Images\Sawako Approved V2.png, C:\Users\User\Downloads\PersonalAI\Images\Sawako Approved V3.png
JARVIS_PET_TALKING_IMAGE=C:\Users\User\Downloads\PersonalAI\Images\Sawako Talking V1.png, C:\Users\User\Downloads\PersonalAI\Images\Sawako Talking V2.png, C:\Users\User\Downloads\PersonalAI\Images\Sawako Talking V3.png
